@(employees: List[Employee])

@main("Welcome to Employee Management portal") {
  <h1>Employees</h1>
  <ul>
    @for(emp <- employees) {
      <li>id: @emp.id</li>
      <li>name: @emp.name</li>
      <li>designation: @emp.designation</li>
      <a href="@routes.EmployeeController.deleteEmployee(emp.id)">Delete employee</a>
      <a href="@routes.EmployeeController.updateEmployeeInit(emp.id, emp.name, emp.designation)">Update employee</a>
      <br />
      <br />
    }
  </ul>
  <a href="@routes.EmployeeController.createEmployeeInit">Add a new employee</a>
}
